@font-face {
  font-family: Jost;
  src: url('./Jost.ttf');
}

.mainContainer {
  font-family: 'Jost';
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}