/* ----------------------------------- */

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------------------- */

html, body, #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgb(155, 100, 78);

  font-family: 'Jost';
}

#canvas {
  z-index: 0;
  background-size: contain;
  background-image: url('../images/bgs/mathgame.png');

  height: 100%;
  border: 4px solid rgb(66, 31, 20);
}

.play {
  position: relative;
  aspect-ratio: auto 800/1420;
  height: 90vh;
}

.float {
  position: absolute;
}

.menuUi {
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  aspect-ratio: auto 800/1420;
}

.playUi {
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;

  aspect-ratio: auto 800/1420;
}

.score {
  color: rgb(70, 32, 21);
  position: absolute;
  top: 1vh;
  left: 2%;
  width: 96%;
  font-weight: bold;
  font-size: 3vh;
}

.uiHead {
  width: 90%;
  height: 10%;
}

.mathButtons {
  width: 52%;
  margin-left: 1vw;
}

.mathButton {
  position: relative;
  text-align: center;
  width: 22%;
  aspect-ratio: auto 1/1;

  filter: drop-shadow(0px 3px 1px rgba(66, 31, 20, 0.4));
}

.mathOut {
  color: rgb(66, 31, 20);
  width: 35%;
  height: 100%;
  margin-left: 2vw;
  margin-right: 1vw;

  position: relative;
}

.mathOutImg {
  width: 110%;
  height: 100%;

  filter: drop-shadow(0px 2px 1px rgba(66, 31, 20, 0.4));
}

.mathOutAnswer {
  position: absolute;
  font-size: 3vh;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 95%;
  text-align: center;
  outline: none;
  user-select: none;
  pointer-events: none;
}

.buttons {
  margin-bottom: 2vh;
  flex-wrap: wrap;
  width: 90%;
  top: 76%;
}

.button {
  position: relative;
  text-align: center;
  width: 20%;
  aspect-ratio: auto 1/1;
}

.buttonImg {
  z-index: 5;
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;

  filter: drop-shadow(0px 4px 1px rgba(66, 31, 20, 0.4));
}

.buttonTxt {
  z-index: 10;
  user-select: none;
  pointer-events: none;
  max-width: 100%;
  font-size: 4vh;
  font-weight: bolder;
  color: rgb(66, 31, 20);
}

.button:hover, .mathButton:hover, .menuButton:hover {
  top: -2px;
}

.buttonImg:active, .menuButtonImg:active, .formSubmit:active {
  filter: drop-shadow(0px 2px 1px rgba(66, 31, 20, 0.4));
}

input {
  font-size: 3vh;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 90%;
  text-align: center;
  outline: none;
}

.menuButtons {
  width: 80%;
  margin-bottom: 1.8vh;
  height: 26vh;
}

.menuButton {
  position: relative;
  width: 100%;
  height: 30%;

  margin-bottom: 1vh;
}

.menuButtonTxt {
  z-index: 10;
  user-select: none;
  pointer-events: none;
  max-width: 100%;
  font-size: 4vh;
  font-weight: bolder;
  color: rgb(66, 31, 20);
}

.menuButtonImg {
  z-index: 5;
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 100%;

  filter: drop-shadow(0px 3px 1px rgba(66, 31, 20, 0.3));
}

.form {
  background-image: url('../images/formBg.png');
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 8vh;
  width: 80%;
  aspect-ratio: auto 26/21;
  color: rgb(70, 32, 21);
}

.leaderBoard {
  background-image: url('../images/formBg.png');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 8vh;
  width: 80%;
  aspect-ratio: auto 64/51;
  color: rgb(70, 32, 21);
}

.leaderBoard {
  padding: 1vw;
  justify-content: flex-start;
}

.highScore {
  width: 90%;
  font-size: 3vh;
}

.formLabel {
  width: 90%;
}

.formInput {
  font-family: 'Jost';
  font-size: 4vh;
  font-weight: bold;
  background-color: transparent;
  border: none;
  height: 6vh;
  margin: 4vh;
  width: 90%;
  text-align: center;
  outline: none;

  border: 2px solid rgb(66, 31, 20);
  border-style: none none solid none;
}

.formSubmit {
  font-family: 'Jost';
  font-size: 3vh;
  width: 100%;

  background-image: url('../images/submit.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: auto 24/4;
  filter: drop-shadow(0px 3px 1px rgba(66, 31, 20, 0.4));
}

.formSubmit:hover {
  background-image: url('../images/submit2.png');
}

h1 {
  margin: 0;
}

h3 {
  font-size: 2vw;
}

.gameOver {
  z-index: 100;
  background-image: url('../images/game_over.png');
  width: 100%;
  height: 100%;
  font-size: 4vw;
  color: #e2bab5;
  text-align: center;
}