.menuUi {
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  aspect-ratio: auto 800/1420;
}

.menuButtons {
  width: 80%;
  margin-bottom: 1.8vh;
  height: 26vh;
}

.menuButton {
  position: relative;
  width: 100%;
  height: 30%;

  margin-bottom: 1vh;
}

.menuButtonTxt {
  z-index: 10;
  user-select: none;
  pointer-events: none;
  max-width: 100%;
  font-size: 4vh;
  font-weight: bolder;
  color: rgb(66, 31, 20);
}

.menuButtonImg {
  z-index: 5;
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 100%;

  filter: drop-shadow(0px 3px 1px rgba(66, 31, 20, 0.3));
}


/* FORM */

.form {
  background-image: url('../images/formBg.png');
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 8vh;
  width: 80%;
  aspect-ratio: auto 26/21;
  color: rgb(70, 32, 21);
}

.formLabel {
  width: 90%;
}

input {
  font-size: 3vh;
  font-weight: bold;
  background-color: transparent;
  border: none;
  width: 90%;
  text-align: center;
  outline: none;
}

.formInput {
  font-family: 'Jost';
  font-size: 4vh;
  font-weight: bold;
  background-color: transparent;
  border: none;
  height: 6vh;
  margin: 4vh;
  width: 90%;
  text-align: center;
  outline: none;

  border: 2px solid rgb(66, 31, 20);
  border-style: none none solid none;
}

.formSubmit {
  font-family: 'Jost';
  font-size: 3vh;
  width: 100%;

  background-image: url('../images/submit.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: auto 24/4;
  filter: drop-shadow(0px 3px 1px rgba(66, 31, 20, 0.4));
}

.formSubmit:hover {
  background-image: url('../images/submit2.png');
}

.menuButton:hover {
  top: -2px;
}

.menuButtonImg:active, .formSubmit:active {
  filter: drop-shadow(0px 2px 1px rgba(66, 31, 20, 0.4));
}

/* LEADERBOARD */

.leaderBoard {
  background-image: url('../images/formBg.png');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 8vh;
  width: 80%;
  aspect-ratio: auto 64/51;
  color: rgb(70, 32, 21);
}

.leaderBoard {
  padding: 1vw;
  justify-content: flex-start;
}

.highScore {
  width: 90%;
  font-size: 3vh;
}