/* ----------------------------------- */

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.float {
  position: absolute;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 3vh;
}

.br {
  height: 2vh;
}

/* ----------------------------------- */

html, body, #root {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: radial-gradient(circle at bottom left, #a6d59bb5, transparent 40%), radial-gradient(circle at top right, #edddba9e, transparent);
  background-color: #a2bd7a;

  font-family: 'Jost';
}

a {
  text-decoration: none;
  color: #421f14;
}

.main {
  width: 100%;
  justify-content: center;
}

.bar {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #421f14;
}

.play {
  position: relative;
  aspect-ratio: auto 800/1420;
  height: 90vh;
}

.wing {
  margin: 24px;
  padding: 12px;
  box-sizing: border-box;
  width: 25%;
  height: 80%;
  color: #421f14;
  font-size: 2.2vh;
  justify-content: center;
  text-align: left;
}

.wing small {
  text-align: left;
  width: 100%;
}

#canvas {
  z-index: 0;
  background-size: contain;
  background-image: url('../images/bgs/mathgame.webp');

  height: 100%;
  border: 4px solid #421f14;
}

@media screen and (max-width: 520px) {
  .play {
    width:  100vw;
    height: 100vh;
    aspect-ratio: unset;
  }

  #canvas {
    border: none;
  }
}

.gameOver, .loading {
  z-index: 100;
  background-color: #462015;
  width: 100%;
  height: 100%;
  color: #e2bab5;
  font-size: 5vh;
  text-align: center;
}

.loading {
  transition: opacity 1s;
}
