/* ----------------------------------- */

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.float {
  position: absolute;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 3vh;
}

/* ----------------------------------- */

html, body, #root {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #72434c, rgb(169 120 116) 80%);

  font-family: 'Jost';
}

a {
  color: #ffc89d;
}

.main {
  width: 100%;
  justify-content: center;
}

.bar {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffc89d;
}

.play {
  position: relative;
  aspect-ratio: auto 800/1420;
  height: 90vh;
}

.wing {
  margin: 24px;
  padding: 12px;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  color: #ffc89d;
  font-size: 2.2vh;
  justify-content: center;
  text-align: left;
}

.wing small {
  text-align: left;
  width: 100%;
}

#canvas {
  z-index: 0;
  background-size: contain;
  background-image: url('../images/bgs/mathgame.webp');

  height: 100%;
  border: 4px solid rgb(66, 31, 20);
}

@media screen and (max-width: 520px) {
  .play {
    width:  100vw;
    height: 100vh;
    aspect-ratio: unset;
  }

  #canvas {
    border: none;
  }
}

.gameOver {
  z-index: 100;
  background-color: #462015;
  width: 100%;
  height: 100%;
  font-size: 5vh;
  color: #e2bab5;
  text-align: center;
}
